<div class='burger-container'>

	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1>EAT A BURGER</h1>
		</div>
	</div>

	<div class="container text-center">
		<div class="row">

			<!-- Burgers available to devour -->
			<div class="col-sm">
				<br>
				<h3>Eat These Burgers!</h3>
				
					{{#each burgers}} {{#unless this.devoured}}
					<li>
						{{this.id}}. {{this.burger_name}}

						<form action='/{{this.id}}?_method=PUT' method='POST'>
							<input type='hidden' name='devoured' value='true'>
							<button class='btn btn-outline-primary btn-sm' type='submit'>Devour</button>
						</form>

					</li>
					{{/unless}} {{/each}}
				
			</div>

			<!-- Devoured Burgers -->
			<div class="col-sm">
				<br>
				<h3>Devoured Them!</h3>

				{{#each burgers}} {{#if this.devoured}}
				<li>
					{{this.id}}. {{this.burger_name}}
				</li>
				{{/if}} {{/each}}
			</div>
		</div>
	</div>

	<!-- Add a burger input field -->
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1>Add A Burger!</h1>

			<form class='create-form' action='/' method='POST'>
				<div class='form-group'>
					<p>Enter a burger, submit it, devour it!</p>
					<input type='text' id='ca' name='burger_name'>
				</div>

				<button class='btn-primary btn-sm' type='submit'>Submit</button>
			</form>
		</div>
	</div>

</div>