<div class='bg-header'></div>
<div class='burger-container'>

	<div class='row'>
		<div class='col-md-12 text-center burger-header'>
			<img class='burger-img' src='../assets/img/burger-img.png' alt='Burger Icon'>
			<h1>EAT A BURGER</h1>
			<hr>
		</div>
	</div>

	<div class="container text-center">

		<!-- Add a burger input field -->
		<div class='row'>
			<div class='col-md-12 text-center'>
				<h4>ADD YOUR BURGER</h4>

				<form class='create-form' action='/' method='POST'>
					
					<div class='form-group'>
						<input type='text' id='ca' name='burger_name'>
						<button class='btn-primary btn-sm btn-style' type='submit'>SUBMIT</button>
					</div>

				</form>
			</div>
		</div>

		<div class="row">

			<!-- Burgers available to devour -->
			<div class="col-sm">
				<br>
				<h5>EAT 'EM</h5>
				<hr class='li-line'>
				{{#each burgers}} {{#unless this.devoured}}
				<li>
					{{this.id}}. {{this.burger_name}}

					<form action='/{{this.id}}?_method=PUT' method='POST'>
						<input type='hidden' name='devoured' value='true'>
						<button class='btn btn-outline-primary btn-sm' type='submit'>Devour</button>
					</form>

				</li>
				{{/unless}} {{/each}}

			</div>

			<!-- Devoured Burgers -->
			<div class="col-sm">
				<br>
				<h5>DEVOURED 'EM</h5>
				<hr class='li-line'>
				{{#each burgers}} {{#if this.devoured}}
				<li class='li-styles'>
					<i class="fas fa-check-circle"></i><span class='burger-nm'>{{this.burger_name}}</span> (ID: {{this.id}})
				</li>
				{{/if}} {{/each}}
			</div>
		</div>
	</div>

</div>